<div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-3">
    <table class="w-full text-sm text-left text-gray-500 text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-300 ">
         <tr>
                    <th scope="col" class="py-3 px-6">
                         Name
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Animal
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Breed
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Age
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Gender
                    </th>
                    <th scope="col" class="py-3 px-6">
                        From
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Created At
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Updated At
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Edit
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Delete
                    </th>
                  </tr>
        </thead>
<% pets.forEach(function(pet){ %> 
        <tbody>
            <tr class="bg-white border-b ">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                    <a href="/pet/details?id=<%= pet._id %>"><%= pet.name %> </a>                
</th>
                <td class="py-4 px-6">
                                    <%= pet.animal %>
                </td>
                <td class="py-4 px-6">
                                    <%= pet.breed %>
                </td>
                <td class="py-4 px-6">
                <%= pet.age %>
                </td>
 </td>
                <td class="py-4 px-6">
                 <%= pet.gender %>
                </td>
 </td>
                <td class="py-4 px-6">
                <%= pet.from %>
                </td>
<td class="py-4 px-6">
                Created Time
                </td>
<td class="py-4 px-6">
                Updated Time
                </td>
                <td class="py-4 px-6 hover:underLine">
                    <a href="/pet/edit?id=<%= pet._id %>">Edit</a>
                </td>
 <td class="py-4 px-6">
                     <a href="/pet/delete?id=<%= pet._id %>">Delete</a>
                </td>
            </tr>
            
            </tr>
        </tbody>
        <% }) %>
    </table>
</div>